

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header nav ul li {
    list-style: none;
    padding: 0 1rem;
}

.btn-join {
    text-decoration: none;
    color: #000;
    background-color: rgb(191, 206, 219);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.btn-join span {
    font-size: small;
}

.container-main {
    height: 500px;
}

main .container-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-main .container-text {
    width: 50%;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container-main .container-text h1 {
    font-size: 2rem;
    font-weight: 700;

}

.container-main .pink {
    background-color: var(--pink);
}

.container-main .container-image {
    width: 50%;
    padding: 0 4rem;
}

.container-main .container-image img {
    width: 100%; 
    height: auto;
    max-width: 600px; 
}

.container-review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
    background-color: var(--pink);
    color: #fff;
}

.scroll-container {
    width: 100%;
    height: auto;
    overflow-x: hidden; 
    overflow-y: auto; 
    padding: 10px;
  }

  .scroll-container::after {
    content: "➤";
    font-size: 1rem;
    color: #fff;
    position: absolute;
    right: 27%;
    top: 92%;
  }
  .scroll-item {
    white-space: nowrap; 
    text-align: center; 
  }
  .paragraph {
    display: inline-block; 
    vertical-align: middle;
  }